@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh; /* vh: viewport height --> viewport is the visible area of the browser */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    min-height: 100vh; 
    height: 100vh;    
    padding: 50px 0; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-size: 5rem;
}

p {
    font-size: 1.4rem;
    color: black;
    margin-top: 5px;
    line-height: 2.5 rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    }

.section-title span{
    color: crimson;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease background-color, color;
    color: black;
    text-align: center;
    line-height: normal;
}

.cta:hover{
    background-color: crimson;
    color: white;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span{
    color: crimson;
}

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .hamburger{
    border: 3px solid white;
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
}

#header .hamburger:after{
    content: "";
    border: 3px solid white;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: hamburger-puls 1s ease infinite;
}

@keyframes hamburger-puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}

#header .hamburger {
    border: 3px solid white;
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
}

#header .hamburger:after {
    content: "";
    border: 3px solid white;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: hamburger-puls 1s ease infinite;
}

#header .hamburger .bar {
    background-color: white;
    height: 2px;
    width: 30px;
    position: relative;
    z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: 0.3s ease top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0; 
}

#header .hamburger.active .bar::after {
    top: 0; 
}

#header .nav-list ul{
    list-style: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s ease height;
}

#header .nav-list ul.active{
    left: 0;
    background-color: rgb(31, 30, 30);
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 20px 0;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;

}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a{
    color: crimson;
}

@media screen and (min-width: 1200px) {
    #header .hamburger{
        display: none;
    }

    #header .nav-list ul{
        position: initial;
        height: auto;
        display: block;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li{
        display: inline-block;
        margin-right: 30px;
    }

    #header .nav-list ul a{
        font-size: 1.8rem;
    }

    #header .nav-list ul a::after{
        display: none;
    }
}

#hero {
    background-image: url('https://i.pinimg.com/736x/57/46/8d/57468d8387042651790a73ade6a0d224.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

#hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 50px;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    animation: text-reveal 1s ease forwards;
    animation-delay: 1s;
    overflow: hidden;
}

@keyframes text-reveal{
    100%{
        color: white;
    }
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}

#hero h1:nth-child(2){
    animation-delay: 2s;
}

#hero h1:nth-child(3){
    animation: text-reveal-name 0.5s ease 1.5s forwards;
    animation-delay: 3s;
}

@keyframes text-reveal-name{
    100%{
        color: crimson;
        font-weight: 500;
    }
}

#hero h1 span{
    background-color: crimson;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    animation: text-reveal-box 1s ease forwards; ;
    animation-delay: 0.5s;
    z-index: 1;
}

@keyframes text-reveal-box {
    0% {
        width: 100%; /* Crimson background fully covers the text */
    }
    100% {
        width: 0; /* Shrinks to reveal the text */
    }
}

#hero h1 span:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1 span:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1 span:nth-child(3) span {
    animation-delay: 2.5s;
}

@media screen and (max-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title{
        font-size: 6rem;
    }

    #hero h1{
        font-size: 7rem;
    }
}

#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    max-width: 500px;
    margin: 0 auto;
}

#services .service-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
}

#services .service-item p{
    text-align: left;
    color: white;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after{
    content: "";
    background-image: linear-gradient(60 deg, #29323c, #485563, 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}