@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh; /* vh: viewport height --> viewport is the visible area of the browser */
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    color: black;
    margin-top: 5px;
    line-height: 2.5 rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    }

.section-title span{
    color: crimson;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease background-color, color;
    color: black;
}

.cta:hover{
    background-color: crimson;
    color: white;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    /* color: white; */
}

.brand h1 span{
    color: crimson;
}

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .hamburger{
    border: 3px solid white;
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
}

#header .hamburger:after{
    content: "";
    border: 3px solid white;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: hamburger-puls 1s ease infinite;
}

@keyframes hamburger-puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}

#header .hamburger .bar{
    background-color: white;
    height: 2px;
    width: 30px;
    position: relative;
    z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after{
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: 0.3s ease top, bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::after{
    top: 0;
}